// color palette

$white-color: #eeeeee;
$gray-color: #fcfcfcce;
$purple-color: #4c1f7a;

// font settings

$font-for-h: "Caveat", cursive;
$font-for-p: "Oswald", sans-serif;

// other settings

$border-radius: 5px;
