header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: white;
  a {
    font-size: 2rem;
    font-weight: 900;
  }
  nav {
    display: flex;
    gap: 2rem;
    a {
      font-size: 1.2rem;
    }
  }
}
