.favourites {
  .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    h2 {
    }

    .favourites-list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
      gap: 1rem;
      .favourite-item {
        display: flex;
        flex-direction: column;
        position: relative;
        img {
          width: 100%;
        }
        h3 {
          text-align: center;
          padding: 1rem;
        }
        button {
          position: absolute;
          right: 10px;
          top: 10px;
          background-color: black;
          padding: 1rem;
          font-size: 1.2rem;
        }
      }
    }
  }
}
