header {
  //   background-color: red;
  margin-bottom: 2rem;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0rem;

    a {
      background-color: transparent;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 0.8rem;
      text-decoration: none;
      h1 {
        color: red;
        font-size: 3rem;
      }
    }
  }
}
